body {
  margin: 0;
  background-color: #febcc8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.counter-app {
  border: 1px solid #a6a6a6;
}
.counter-app h1 {
  font-size: 36px;
}

button,
input {
  font-size: 24px;
  margin: 6px;
}

.wrapper-section {
  background-color: #febcc8;
  padding: 12px;
}
.wrapper-section p {
  background-color: #febcc8;
}
